
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Light mode styles (default) */
body {
  @apply bg-white text-black;
}

/* Dark mode styles */
.dark body {
  @apply bg-gray-900 text-white;
}

/* Modern theme styles */
.modern body {
  background-color: #282c34; /* Replace with your desired background color for modern theme */
  color: #61dafb; /* Replace with your desired text color for modern theme */
}

button {
  @apply transition-all duration-200 ease-in-out;
}

button:hover {
  @apply transform scale-105;
}

/* Styles for the dark mode button */
.theme-switcher-button {
  @apply fixed bottom-4 right-4 p-2 bg-primary text-white rounded-full shadow-lg hover:bg-secondary focus:outline-none focus:ring-2 focus:ring-primary;
}

.dark .theme-switcher-button {
  @apply bg-indigo-800 hover:bg-indigo-600 focus:ring-indigo-500;
}
