@tailwind base;
@tailwind components;
@tailwind utilities;

/* Light mode styles (default) */
body {
  @apply bg-white text-black;
}

a {
  @apply underline text-textcolor hover:text-accent visited:text-textcolor active:text-linkactive;
}

h3 {
  @apply text-2xl font-bold;
}

/* Dark mode styles */
.dark body {
  @apply bg-gray-900 text-white;
}

/* Modern theme styles */
.modern body {
  background-color: #282c34; /* Replace with your desired background color for modern theme */
  color: #61dafb; /* Replace with your desired text color for modern theme */
}

.light body {
  @apply bg-white text-black;
}

button {
  @apply transition-all duration-200 ease-in-out;
}

button:hover {
  @apply transform scale-105;
}

